# -----------------------
# | Add Python packages |
# -----------------------
# To install below packages at startup, uncomment this line in "docker-compose.yml" file!
# - ./entrypoint.sh:/entrypoint.sh
# then down the docker container ($ docker-compose down) and up it again ($ docker-compose up -d).
# -----------------------
# paramiko==2.7.2 # for auto_backup module
# for oca addons
pycups 
asn1crypto
codicefiscale
elementpath
mock
openupgradelib
unidecode
xmlschema
mako
phonenumbers
python-dateutil
pytz
num2words
pdf2image
requests
pillow
psycopg2-binary
pyldap
werkzeug
paramiko
python-stdnum
vobject
xlrd
xlwt
